.ant-btn {
  text-transform: uppercase;
  height: 34px;
}

.ant-btn-sm {
  padding: 0 7px;
  font-size: 12px;
  border-radius: 5px;
  height: 24px;
}

.ant-btn-lg {
  padding: 0 15px;
  font-size: 14px;
  border-radius: 5px;
  height: 40px;
}

.ant-btn-secondary {
  color: #fff;
  background-color: #FF8100;
  border-color: #FF8100;
  &:hover, &:active, &:focus {
    background-color: #EF6C00;
    border-color: #EF6C00;
    color: #fff;
  }
}
