@import "./button.less";
@import "./input.less";
@import "./select.less";
body {
    background: #F0F1F2;
    color: #35383F;
}

@media (max-width: 575.98px) {
    .ant-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .ant-col-xs-24 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.progress-custom {
    .ant-progress-bg {
        height: 4px !important;
        border-radius: 0 !important;
    }
}

.ant-btn-icon-only {
    border: 0;
}

.ant-breadcrumb {
    text-transform: capitalize;
}

.ant-notification>span {
    display: flex;
    flex-direction: column-reverse;
}

.ant-form-item-control.has-error {
    .ant-form-explain {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 5px;
        margin-top: 3px;
    }
}

.ant-tag {
    border-radius: 2px;
    height: 20px;
    line-height: 17px;
}
